result
*.ckpt
*.pt
.vscode
*.onnx
__pycache__
ocrs
Manga
Manga-translated
/models
.env
*.local
*.local.*
test/testdata
.idea
pyvenv.cfg
Scripts
Lib
include
share

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.history