networkx
torch
torchvision
torch-summary
einops
scikit-image
opencv-python
pyclipper
shapely
requests
oscrypto 
freetype-py
googletrans==4.0.0rc1
aiohttp
tqdm
deepl
ImageHash
kornia
backports.cached-property
huggingface_hub
transformers
langid
sentencepiece
editdistance
numpy
tensorboardX
websockets
protobuf
ctranslate2
colorama
openai
open_clip_torch
safetensors
pandas
onnxruntime
omegaconf
python-dotenv
nest-asyncio
marshmallow