networkx
torch
torchvision
torch-summary
einops
scikit-image
opencv-python
pyclipper
shapely
requests
cryptography
freetype-py
googletrans==4.0.0rc1
aiohttp
tqdm
deepl
ImageHash
kornia
backports.cached-property
huggingface_hub
transformers
py3langid
sentencepiece
editdistance
numpy
tensorboardX
websockets
protobuf
ctranslate2
colorama
openai
open_clip_torch
safetensors
pandas
onnxruntime
timm
omegaconf
python-dotenv
nest-asyncio
marshmallow
cython
aioshutil
aiofiles
arabic-reshaper
pyhyphen
langcodes
langdetect
manga-ocr
pydensecrf@https://github.com/lucasb-eyer/pydensecrf/archive/refs/heads/master.zip
